.hero{
    text-align:center;
    padding-top:130px;
    color:white;
    height:330px;
    background-image:url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size:30px;
    font-family: 'Architects Daughter', cursive;

}